<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <sitecore>
    <pipelines>
      <determineInteractionChannel>
        <processor type="Sitecore.Analytics.OmniChannel.Pipelines.DetermineInteractionChannel.ReferringSite, Sitecore.Analytics.OmniChannel"
                   patch:after="processor[@type='Sitecore.Analytics.OmniChannel.Pipelines.DetermineInteractionChannel.DefaultChannel, Sitecore.Analytics.OmniChannel']">
          <param desc="channelId">{44DD9FF5-44B2-4C59-8DF8-849E400F4B6B}</param>
        </processor>
      </determineInteractionChannel>
    </pipelines>
  </sitecore>
</configuration>