<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <configurator type="Sitecore.Foundation.Channels.DI.ServicesConfigurator, Sitecore.Foundation.Channels"/>
    </services>
    <pipelines>
      <determineInteractionChannel>
        <!-- Determines the social channels for the interaction. The social channels to be determined are listed at the social/interactionChannelMappings configuration. -->
        <processor type="Sitecore.Foundation.Channels.Pipelines.DetermineInteractionChannel.SocialChannels, Sitecore.Foundation.Channels"
                   resolve="true" />
      </determineInteractionChannel>
    </pipelines>
    <social>
      <interactionChannelMappings>
        <!-- 41-91-05: Online/Social Community/Facebook Social Community -->
        <channel channelId="{A9F2D058-95A5-4461-B1E5-8502D2303AF1}">
          <!-- Facebook -->
          <channelMapping urlReferrerHost="www.facebook.com" />
          <!-- Facebook for mobile -->
          <channelMapping urlReferrerHost="m.facebook.com" />
          <!-- Facebook's Link Shim -->
          <channelMapping urlReferrerHost="l.facebook.com" />
          <!-- Facebook's Link Shim for mobile -->
          <channelMapping urlReferrerHost="lm.facebook.com" />
        </channel>
        <!-- 41-91-04: Online/Social Community/LinkedIn Social Community -->
        <channel channelId="{6FD56D27-FD68-405A-BC26-566C7BEF7031}">
          <!-- LinkedIn -->
          <channelMapping urlReferrerHost="www.linkedin.com" />
        </channel>
        <!-- 41-91-03: Online/Social Community/YouTube Social Community -->
        <channel channelId="{86761432-FDBB-4C4B-AFAE-557130AE4D61}">
          <!-- YouTube -->
          <channelMapping urlReferrerHost="www.youtube.com" />
        </channel>
        <!-- 41-91-06: Online/Social Community/Twitter Social Community -->
        <channel channelId="{6D3D2374-AF56-44FE-B99A-20843B440B58}">
          <!-- Twitter's URL shortener, which is always set in the "Referrer" HTTP header -->
          <channelMapping urlReferrerHost="t.co" />
        </channel>
        <!-- 41-91-02: Online/Social Community/Google Plus Social Community -->
        <channel channelId="{DC70F72E-0A36-404D-8B10-86FE765A3BCC}">
          <!-- Google+ -->
          <channelMapping urlReferrerHost="plus.url.google.com" />
        </channel>
      </interactionChannelMappings>
    </social>
  </sitecore>
</configuration>