<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.2.0" targetFramework="net471" />
  <package id="Sitecore.Abstractions.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Analytics.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Analytics.OmniChannel.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
  <package id="Sitecore.Kernel.NoReferences" version="9.0.180604" targetFramework="net471" developmentDependency="true" />
</packages>